*, *::before, *::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

li, h1, h2, p {
    margin: 0;
    padding: 0;
}

a {
    color: rgb(33, 137, 235);
}

.v {
    color: rgb(62, 111, 207);
}

.n {
    color: rgb(16, 163, 10);
}

.str {
    color: rgb(212, 62, 16);
}

.punct {
    color: rgba(51, 51, 51, 0.75);
}

.code-section {
    position: relative;
    max-width: 750px;
}

pre {
    white-space: pre-line;
    overflow: auto;
    background-color: rgb(247, 246, 246);
    border-radius: 3px;
    border-left: 3px solid rgb(50, 233, 126);
    padding: 0.5em 1em;
    line-height: 1.2;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .25);
}

pre code {
    font-size: 15px; 
}

.li-code {
    margin-right: 5px;
}

.copy, .copied-active {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.copy {
    cursor: pointer;
    font-size: 1.2em;
}

.copied-active {
    display: none;
    font-size: 1rem;
    text-align: center;
    transform: translate(-35px, 5px);
}

.short-code {
    font-size: 0.9em;
    padding: 0 3px;
    background-color: #eeeded;
    border-radius: 3px;
}

nav {
    width: 220px;
    position: fixed;
    padding: 20px 35px;
    border-right: 1px solid #e6e6e6;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(250, 250, 250);
}

nav header {
    font-size: 1.5rem;
    font-weight: 600;
    word-spacing: 5vw;
    margin-bottom: 1em;
    line-height: 1.2;
}

nav ul {
    list-style: none;
    border-top: 2px solid #d2d2d2;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 1em 0;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 30px min(5%, 30px);
    margin-left: 220px;
    max-width: 978px;
    font-size: 1em;
    overflow-x: hidden;
}

main h1 {
    margin-bottom: .5em;
    font-size: 2em;
    font-weight: 450;
}

main p {
    margin-bottom: 1em;
}

main section {
    margin-bottom: 2em;
}

footer {
    padding: 30px;
    margin-left: 220px;
    font-size: 0.667em;
    overflow-x: hidden;
    color: rgb(90, 90, 90);
    background-color: rgb(250, 250, 250);
    border-top: 1px solid #d2d2d2;
}

#themes {
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

#themes:hover {
    transform: scale(1.1);
    user-select: none;
}

#themes i {
    font-size: 2em;
    cursor: pointer;
}

@media (max-width: 900px) {
    nav {
        display: none;
    }

    main, footer {
        margin-left: 0;
    }

    .article-ul {
        padding-left: 1em;
    }
}